<h1>Daftar Siswa</h1>
<br/>
<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark text-center">
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.email %></td>
        <td><%= student.phone %></td>
        <td><%= student.twitter %></td>
        <td class="text-center"><%= link_to 'Show', student, class:"badge bg-info" %></td>
        <td class="text-center"><%= link_to 'Edit', edit_student_path(student),class:"badge bg-warning" %></td>
        <td class="text-center"><%= link_to 'Destroy', student,class:"badge bg-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Tambah Siswa', new_student_path, class:"btn btn-secondary" %>
